<footer class="bd-footer main-font">
          <div class="container-fluid" id="footer-container">
            <ul class="bd-footer-links text-center" style="padding-right: 40px">
              <li class="list-inline-item toggler"><a href="https://github.com/yukeehan" class="footer-anchor"><i class="github icon"></i>GitHub</a></li>
              <li class="list-inline-item toggler"><a href="https://www.linkedin.com/in/yuqinghan/" class="footer-anchor"><i class="linkedin icon"></i>LinkedIn</a></li>
              <li class="list-inline-item toggler"><a href="https://www.dropbox.com/s/7bd4pptk1msnfs5/yuqing_han_resume_20180913.pdf?dl=0" class="footer-anchor"><i class="file icon"></i>Resume</a></li>
              <li class="list-inline-item toggler"><a href="/" class="footer-anchor"><i class="paw icon"></i>About Me</a></li>
            </ul>
            <div class="container text-center">
                <p><i class="copyright outline icon"></i>2018 <a href="/" class="toggler">Yuqing Han</a> All Rights Reserved.</p>
            </div>
          </div>
    </footer>
    </body>
</html>