<footer class="bd-footer main-font">
          <div class="container-fluid" id="footer-container">
            <ul class="bd-footer-links text-center" style="padding-right: 40px">
              <li class="list-inline-item toggler"><a href="https://github.com/yukeehan" class="footer-anchor"><i class="github icon"></i>GitHub</a></li>
              <li class="list-inline-item toggler"><a href="https://www.linkedin.com/in/yuqinghan/" class="footer-anchor"><i class="linkedin icon"></i>LinkedIn</a></li>
              <li class="list-inline-item toggler"><a href="/about" class="footer-anchor"><i class="paw icon"></i>About Me</a></li>
            </ul>
            <div class="container text-center">
                <p><i class="copyright outline icon"></i>2018 <a href="/about" class="toggler">Yuqing Han</a> All Rights Reserved.</p>
            </div>
          </div>
    </footer>
        
        
        
        <!-- particles.js container -->
        <div id="particles-js"></div>

        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script type="text/javascript">
            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
            particlesJS.load('particles-js', '/stylesheets/particles.json', function() {
              console.log('callback - particles.js config loaded');
            });
        </script>

    </body>
</html>