<% include partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/about.css">
<% include partials/navbar %>

    <section class="text-center" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mx-auto mb-5 mb-lg-0 mb-lg-3 main-text">
                        <div style="margin-bottom: 30px;">
                            <img src="https://res.cloudinary.com/yukeehan/image/upload/v1532906684/IMG-2447_1.jpg" class="img-fluid border" id="avatar">
                        </div>
                        <h1 class="brand-heading text-white main-font">Yuqing Han</h1>
                        <p class="intro-text text-white main-font-med">An aspiring and hard working web developer.</p>
                        <a id="button-pulse" class="btn btn-dark main-font" href="#about"><i class="angle double down icon"></i>Know More About Me <i class="angle double down icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="container about_me_text">
                        <h1 class="mt-4 mb-4 about-font text-center">About Me</h1>
                        <p>Hello! her name is Yuqing, a girl from China.</p>
                        <p>She loves photography and computer technology. so she wants to be a Web developer because it combines designing and coding.</p>
                        <p>She is a new graduate holding Master's degree in Electrical & Computer Engineering from the University of Ottawa.</p>
                        <p>She is a mother of two lovely kittens, she hopes she can find a job and takes good care of them. If you want more details about her, 
                        don't hesitate to contact her, she loves making friends.</p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="container" style="float:right;" >
                       <img class="rounded about_me_img" src="https://res.cloudinary.com/yukeehan/image/upload/v1532961700/IMG-5306.jpg"> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-white skills mx-auto">
                        <h1 class="mb-3 main-font">Main Skills</h1>
                        <div class="main-font-med">
                            Node.js and Express.js <i class="node js icon"></i>
                        </div>
                        <div class="main-font-med">
                            MongoDB <i class="fas fa-database"></i>
                        </div>
                        <div class="main-font-med">
                            JavaScript <i class="fab fa-js-square"></i>  and jQuery 
                        </div>
                        <div class="main-font-med">
                            HTML <i class="fab fa-html5"></i>  and CSS <i class="fab fa-css3"></i>
                        </div>
                        <div class="main-font-med">
                            Java <i class="fab fa-java"></i> and C Language
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <section class="text-white text-center contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto contact-text">
                    <h1 class="mb-3 main-font">Contact</h1>
                    <a class="btn btn-lg btn-dark main-font" href="mailto:yukeehan@gmail.com">Email</a>
                </div>
            </div>
        </div>
    </section>
    
<% include partials/footer %>