<% include partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/project.css">
<% include partials/navbar %>


<div class="img-wrapper">
    <div class="img-overlay"></div>
    <img src="https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea7aeb5fc4e3623a3f16af817ec12129&auto=format&fit=crop&w=900&q=60">
    <div class="header">
        <h1>Yuqing Han</h1>
        <p>Projects makes me excited</br>
        I can learn more from projects than from books</br>
        I love the 'Aha!' moments when doing projects</br>
        </p>
    </div>
</div>

<div class="ui main text container" style="margin-bottom: 150px; width: 90vw;">
    <div class="ui segment my-5">
        <div class="ui devided items">
            <div class="item">
                <div class="image" style="height:100%">
                    <img src="https://res.cloudinary.com/yukeehan/image/upload/v1534259677/Capture.png">
                </div>
                <div class="content">
                    <a class="title">PinkBeauty Community</a>
                    <div class="description">
                        <p>This is a project based on NodeJS, Express and MongoDB with User System,
                        Comment Function, Posts Function, Image File Upload Function and Google Map API etc.</p>
                    </div>
                    <div class="extra">
                        <a class="mini ui animated floated basic grey button" href="https://pinkbeauty.herokuapp.com">
                            <div class="visible content">Go To</div>
                            <div class="hidden content"><i class="right arrow icon"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>